
<div class="card rows">
    <div class="card-body ">
            <div class="clearfix">&nbsp;</div>
            <div class="row rows ">  
                <div class="col-md-4">
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <h1 style="color: black;">Activities</h1>
                </div>
                <div class="col-md-5"></div> 
                <div class="col-md-3">
                    <!-- <i (click)="tmpe1()"  class="fa fa-times-circle  text-primary" style="float: right;font-size:33px;cursor: pointer;" aria-hidden="true"></i> -->
                    <!-- <a ><i style="font-size: 16px;" class="icon icon-apps mr-4"></i></a> -->
                </div>
            </div>
            <!--second row-->
            
          <div class="shadow p-3 mb-5 bg-white rounded" style="margin: 0px 20px;">
<div  class="content container-fluid"><div  class="row"><div  class="col-sm-8">
    <!-- <h4  class="page-title">Activities</h4> -->

</div></div><div  class="row"><div  class="col-md-12">
    <div  class="activity"><div  class="activity-box">
        
        <ul  class="activity-list"><!---->
        <li ><div  class="activity-user"><a  class="avatar" data-toggle="tooltip" href="#" title="Lesley Grauer">
            <img  alt="Lesley Grauer" class="img-responsive img-circle" src="../../../assets/user.png"></a></div>
        <div  class="activity-content">
            <div  class="timeline-content">
                <a  class="name" href="#">Lesley Grauer</a> added new task <a  href="#">Harvey Clinic</a>
                <span  class="time">4 mins ago</span></div></div></li>
        <li ><div  class="activity-user"><a  class="avatar" data-toggle="tooltip" href="#" title="Jeffrey Lalor">
            <img  alt="Lesley Grauer" class="img-responsive img-circle" src="../../../assets/user.png"></a></div>
            <div  class="activity-content"><div  class="timeline-content">
                <a  class="name" href="#">Jeffrey Lalor</a> completed task <a  href="#">Appointment booking with payment gateway</a>
                <span  class="time">6 mins ago</span></div></div></li><li >
                    
                    <div  class="activity-user"><a  class="avatar" data-toggle="tooltip" href="#" title="Bernardo Galaviz">
                        <img  alt="Lesley Grauer" class="img-responsive img-circle" src="../../../assets/user.png"></a></div>
                <div  class="activity-content">
                    <div  class="timeline-content">
                        <a  class="name" href="#">Bernardo Galaviz</a> changed the task name <a  href="#">Doctor available module</a>
                        <span  class="time">10 days ago</span></div></div></li><li ><div  class="activity-user">
                            <a  class="avatar" data-toggle="tooltip" href="#:" title="Mike Litorus">
                                <img  alt="Lesley Grauer" class="img-responsive img-circle" src="../../../assets/user.png"></a></div>
                    <div  class="activity-content">
                        <div  class="timeline-content">
                            <a  class="name" href="#">Mike Litorus</a> added new task <a  href="#">Patient and Doctor video conferencing</a>
                            <span  class="time">1 month ago</span></div></div></li></ul></div></div></div></div></div>







          </div>
                        
           



</div></div>