
<div class="card rows">
    <div class="card-body ">
            <div class="clearfix">&nbsp;</div>
            <div class="row rows ">  
                <div class="col-md-4">
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <h1> Admin</h1>
                </div>
                <div class="col-md-5"></div> 
                <div class="col-md-3">
                    <!-- <i (click)="tmpe1()"  class="fa fa-times-circle  text-primary" style="float: right;font-size:33px;cursor: pointer;" aria-hidden="true"></i> -->
                    <!-- <a ><i style="font-size: 16px;" class="icon icon-apps mr-4"></i></a> -->
                </div>
            </div>
            <!--second row-->
            
             <div>

                <div class="row"><div class="col-md-6 col-sm-6 col-lg-3"><div class="dash-widget clearfix card-box">
                    <span class="dash-widget-icon">
                    <i aria-hidden="true" class="fa fa-cubes"></i></span>
                    <div class="dash-widget-info">
                        <h3>{{abcf}}</h3>
                        <span>Projects</span></div></div></div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget clearfix card-box"><span class="dash-widget-icon"><i aria-hidden="true" class="fa fa-usd">
                            
                        </i></span><div class="dash-widget-info"><h3>{{cccc}}</h3><span>Clients</span></div>
                </div></div><div class="col-md-6 col-sm-6 col-lg-3"><div class="dash-widget clearfix card-box"><span class="dash-widget-icon">
                    <i class="fa fa-diamond"></i></span><div class="dash-widget-info"><h3>{{tttt}}</h3>
                        <span>Tasks</span>
                    </div></div></div>
                    <div class="col-md-6 col-sm-6 col-lg-3"><div class="dash-widget clearfix card-box">
                        <span class="dash-widget-icon">
                        <i aria-hidden="true" class="fa fa-users"></i></span>
                        <div class="dash-widget-info">
                            <h3>{{emp_tot}}</h3><span>Employees</span></div>
                    </div></div></div>


             </div>
           



</div></div>