
<div class="card rows">
    <div class="card-body">
            <div class="clearfix">&nbsp;</div>
            <div class="row rows">
                <div class="col-md-4">
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <h1>HR Salary</h1>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <!-- <span class="nav-tabs tabs" role="tablist">
                    <a (click)="FirstLogo()" data-toggle="tab" role="tab"><i style="font-size: 16px;cursor: pointer;" class="icon icon-apps mr-4" ></i></a>

                    <a (click)="SecondLogo()"  class="active"   data-toggle="tab" role="tab"><i style="font-size: 20px;cursor: pointer;" class="icon icon-list mr-4" ></i></a>
                    </span> -->
                     <button class="btn  btn-primary btn-sm " style="padding: 6px;"  (click)="navigate()">+ Add HR Salary</button>
                </div>
            </div>
            <!--second row-->
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control btn-radius"
                            placeholder="Search Ticket"
                             [(ngModel)]="searchText" >
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
              
            <table  class="table table-borderless table-condensed table-striped" [mfData]="sats_hr" #mf="mfDataTable" [mfRowsOnPage]="5" id="tableSEcond_tab" >
                                <thead class="text-white bg-primary">
                <tr  class="text-white">
                    <!-- <th  style="color: white;">
                      <mfDefaultSorter by="sequencyId">S.NO</mfDefaultSorter>
                    </th> -->
                    <th  style="color: white;">
                        <mfDefaultSorter by="sequencyId">Employee</mfDefaultSorter>
                      </th>
                    <th style="color: white;">
                        <mfDefaultSorter by="email">Employee ID</mfDefaultSorter>
                    </th>
                   
                     <th style="color: white;">
                      <mfDefaultSorter by="age">Email</mfDefaultSorter>
                 </th>
                 <th style="color: white;">
                    <mfDefaultSorter by="age">Joining Date</mfDefaultSorter>
               </th>

               <th style="color: white;">
                <mfDefaultSorter by="age">Role</mfDefaultSorter>
           </th>    <th style="color: white;">
            <mfDefaultSorter by="age">Salary</mfDefaultSorter>
       </th>
       <th style="color: white;">
        <mfDefaultSorter by="age">Payslip</mfDefaultSorter>
   </th>
   <th style="color: white;">
    <mfDefaultSorter by="age">Action</mfDefaultSorter>
</th>

                </tr>
                </thead>
               
                <tbody>
                <tr *ngFor="let item of mf.data | filter:searchText;let i=index ">
              
                    <td>{{item.firstname}}</td>
                    <td  class="empsalid">{{item.employeeid}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.Joining_Date}}</td>
                    <td>{{item.designation}}</td>
                    <td>{{item.Net_Salary}}</td>
                    <td  class="text-center"><a class="btn btn-xs btn-primary" (click)="payslip($event)" style="color: white;" >View PaySlip</a></td>
                   
                   
                    
                   <td>
                    <div class="btn-group dropleft ml-5" style="cursor: pointer;">
                        <a  class="fa fa-ellipsis-v" data-toggle="dropdown"  aria-expanded="false">
                        </a>
                        <div class="dropdown-menu">
                            <a  class="dropdown-item" (click)="row($event)"><i class="fa fa-pencil mr-4"></i>Edit</a>
                            <a class="dropdown-item" (click)="Delete(item.employeeid)"><i class="fa fa-trash-o mr-4"></i>Delete</a>

                        </div>
                      </div>
                   </td>

                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator ></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
            </table>


            <div class="text-center" id="secondTable" *ngIf="secondTable">













                <div class="text-center">Hellow world !!</div>
            </div>
        
















            
    </div>
     
</div>
  


      