
<div class="card rows">
    <div class="card-body">
            <div class="clearfix">&nbsp;</div>
            <div class="row rows">
                <div class="col-md-4">
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <!-- <h1>Tickets</h1> -->
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <!-- <span class="nav-tabs tabs" role="tablist">
                    <a (click)="FirstLogo()" data-toggle="tab" role="tab"><i style="font-size: 16px;cursor: pointer;" class="icon icon-apps mr-4" ></i></a>

                    <a (click)="SecondLogo()"  class="active"   data-toggle="tab" role="tab"><i style="font-size: 20px;cursor: pointer;" class="icon icon-list mr-4" ></i></a>
                    </span> -->
                     <!-- <button class="btn  btn-primary btn-sm " style="padding: 6px;"  (click)="back()">+ Add New Ticket</button> -->
                </div>
            </div>
            <!--second row-->
<!-- Tickets Start -->
<div class="col-md-12 text-center middle">

 
    <form  #loginForm="ngForm" (ngSubmit)="search.form.valid" >

        <div class="login-page" >
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div  class="account-wrapper">
                    <h1>Management Register</h1>
                    <img src="../../../assets/uplogou.png" width="200px"  class="user-avatar"  style="padding-bottom: 18px;">

                    <form #loginForm="ngForm" (ngSubmit)="loginForm.form.valid">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="registerEmail">Email<span style="color: red;font-size: 18px;">*</span></label>
                                <input type="email" id="registerEmail" name="email" placeholder="Enter Email" disabled
                                    class="form-control form_color" [(ngModel)]="ServiceData.email" #email="ngModel"
                                    [ngClass]="{'is-invalid': loginForm.submitted && email.invalid}" required />
                                <div class="invalid-feedback" *ngIf="loginForm.submitted && email.invalid">
                                    <div *ngIf="email.errors.required">Email field is Required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Old_Password">Old_Password<span style="color: red;font-size: 18px;">*</span></label>
                                <input type="text" id="Old_Password" name="Old_Password" class="form-control form_color"
                                    [(ngModel)]="ServiceData.Old_Password" #Old_Password="ngModel" placeholder="Enter Old_Password"
                                    [ngClass]="{'is-invalid': loginForm.submitted && Old_Password.invalid}" required />
                                <div class="invalid-feedback" *ngIf="loginForm.submitted && Old_Password.invalid">
                                    <div *ngIf="Old_Password.errors.required">Old_Password is Required</div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="registerPassword">Password<span style="color: red;font-size: 18px;">*</span></label>
                                <input type="text" id="password" name="password" placeholder="Enter Password"
                                    class="form-control form_color" [(ngModel)]="ServiceData.password" #password="ngModel"
                                    [ngClass]="{'is-invalid': loginForm.submitted && password.invalid}" required minlength="8" maxlength="15"/>
                                <div class="invalid-feedback" *ngIf="loginForm.submitted && password.invalid">
                                    <div *ngIf="password.errors.required">Password* is Required</div>
                                    <div *ngIf="password.errors.minlength" class="text-danger">*Confirm password should be minimum 8 characters</div>
    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="registerConfirmPassword">Confirm Password<span style="color: red;font-size: 18px;">*</span></label>
                                <input type="text" id="registerConfirmPassword" name="cpassword" placeholder="Confirm Password"
                                    class="form-control form_color" [(ngModel)]="ServiceData.cpassword" #cpassword="ngModel"
                                    [ngClass]="{'is-invalid': loginForm.submitted && cpassword.invalid}" required  />
                                <div class="invalid-feedback" *ngIf="loginForm.submitted && cpassword.invalid">
                                    <div *ngIf="cpassword.errors.required">Password is Required</div>
                                </div>
                                <div *ngIf="cpassword.invalid&&(cpassword.dirty||cpassword.touched)" >
                                    <div *ngIf="cpassword.errors.required" class="text-danger">*Confirm password is required.</div>
                                    <div *ngIf="cpassword.errors.minlength" class="text-danger">*Confirm password should be minimum 8 characters</div>
                                    </div>
                                    <div *ngIf="cpassword.dirty && ( cpassword.value!=password.value) && cpassword.value!=''">
                                    <div class="text-danger">*Confirm password should be match with password </div> </div>
                            </div>
                        </div>
                      
                      
                      
                        <div class="form-group">
                         
                            <button type="submit" class="btn btn-primary text-uppercase"  (click)='updatepass(ServiceData)'>Change Password</button>&nbsp;&nbsp;
                          
                        </div>
                  
 
                  
                    </form>
                </div>
            </div>
        </div>
        </div>
    
</form>

</div>

              
        

            <div class="text-center" id="secondTable" *ngIf="secondTable">
                <div class="text-center">Hellow world !!</div>
            </div>
        
            
    </div>
     
</div>
  


      














