
<div class="card rows">
    <div class="card-body ">
            <div class="clearfix">&nbsp;</div>
            <div class="row rows ">  
                <div class="col-md-4">
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <h1> Organization</h1>
                </div>
                <div class="col-md-5"></div> 
                <div class="col-md-3">
                    <!-- <i (click)="tmpe1()"  class="fa fa-times-circle  text-primary" style="float: right;font-size:33px;cursor: pointer;" aria-hidden="true"></i> -->
                    <!-- <a ><i style="font-size: 16px;" class="icon icon-apps mr-4"></i></a> -->
                </div>
            </div>
            <!--second row-->
            <div>



                
            </div>
            
                        
           



</div></div>