
<div class="card rows">
    <div class="card-body ">
            <div class="clearfix">&nbsp;</div>
            <div class="row rows ">  
                <div class="col-md-4">
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <h1>Edit Contact</h1>
                </div>
                <div class="col-md-5"></div> 
                <div class="col-md-3">
                    <i (click)="back()"  class="fa fa-times-circle  text-primary" style="float: right;font-size:33px;cursor: pointer;" aria-hidden="true"></i>
                    <!-- <a ><i style="font-size: 16px;" class="icon icon-apps mr-4"></i></a> -->
                </div>
            </div>
            <!--second row-->
            <div class="row">
              
            </div>
            <div class="clearfix">&nbsp;</div>
                <form  #contactForm="ngForm" (ngSubmit)="contactForm.form.valid" >
                    <!--this is for no data found table-->
            <div class="row   shadow p-3 mb-5 bg-white rounded" style="width: 600px;margin-left: 200px;margin-right: auto;">

                <div class="col-md-12 text-center middle">
                        <div class=" row">
                    <!--Category Name-->
                    <div class="col-md-12">
                        <div class="form-group"> 
                            <label for="regsiterFirstname">Name<span style="color: red;font-size: 18px;">*</span></label>
                            <input type="text" id="regsiterFirstname" name="firstname" class="form-control form_color"
                                [(ngModel)]="ServiceData.firstname" #firstname="ngModel" placeholder="Enter Name"
                                [ngClass]="{'is-invalid': contactForm.submitted && firstname.invalid}" required />
                            <div class="invalid-feedback" *ngIf="contactForm.submitted && firstname.invalid">
                                <div *ngIf="firstname.errors.required">*First Name is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="designation">Designation<span style="color: red;font-size: 18px;">*</span></label>
                            <input type="text" id="designation" name="designation"
                                placeholder="Designation" class="form-control form_color"
                                [(ngModel)]="ServiceData.designation" #designation="ngModel"
                                [ngClass]="{'is-invalid': contactForm.submitted && designation.invalid}"
                                required />
                            <div class="invalid-feedback" *ngIf="contactForm.submitted && designation.invalid">
                                <div *ngIf="designation.errors.required">*Designation is Required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                    <label for="UploadFiles">Photo<span style="color: red;font-size: 18px;">*</span></label>
                    <input type="file" class="input form-control" name="file" (change)="incomingFile($event)"
                    ngModel required />
                    </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="email">Email<span style="color: red;font-size: 18px;">*</span></label>
                            <input type="text" id="email" name="email" placeholder="Enter Email"
                                class="form-control form_color" [(ngModel)]="ServiceData.email" #email="ngModel"
                                [ngClass]="{'is-invalid': contactForm.submitted && email.invalid}" required email/>
                            <div class="invalid-feedback" *ngIf="contactForm.submitted && email.invalid">
                                <div *ngIf="email.errors.required">*Email is Required</div>
                                <div *ngIf="email.errors.email" class="text-danger">* Enter valid email</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="registerEmployeeID">Employeeid<span style="color: red;font-size: 18px;">*</span></label>
                            <input type="text" id="employeeid" name="employeeid" placeholder="Enter Employeeid"
                                class="form-control form_color" [(ngModel)]="ServiceData.employeeid" #employeeid="ngModel"
                                [ngClass]="{'is-invalid': contactForm.submitted && employeeid.invalid}" required />
                            <div class="invalid-feedback" *ngIf="contactForm.submitted && employeeid.invalid">
                                <div *ngIf="employeeid.errors.required">*Employee ID is Required</div>
                            </div>
                        </div>
                    </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Phone">Phone<span style="color: red;font-size: 18px;">*</span></label>
                                    <input type="number" id="Phone" name="Phone" placeholder="Enter Phone"
                                        class="form-control form_color" [(ngModel)]="ServiceData.Phone" #Phone="ngModel"
                                        [ngClass]="{'is-invalid': contactForm.submitted && Phone.invalid}" required />
                                    <div class="invalid-feedback" *ngIf="contactForm.submitted && Phone.invalid">
                                        <div *ngIf="Phone.errors.required">*Phone is Required</div>
                                    </div>
                                </div>
                            </div>
                            <!-- [(ngModel)]="ServiceData.Status" #Status="ngModel" -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="status">status<span style="color: red;font-size: 18px;">*</span></label>
                                    <select class="form-control form_color" name="status" id="status" [(ngModel)]="ServiceData.status">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                        
                                     </select>
                                    
                                </div>
                            </div>
            </div>
                </div>
                <!-- column right 2 -->
            
            
            </div>


<br>
            

      <div class="col-md-12 text-center" >
        <button type="submit" (click)='update(contactForm.value)' class="btn btn-primary btn-sm text-uppercase mt-5" >Update Contact</button>
       
    </div>
        </form>
            
        
            
    </div>
     
</div>