

<div class="card rows">
    <div class="card-body">
            <div class="clearfix">&nbsp;</div>
            <div class="row rows">
                <div class="col-md-4">
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <h1>Job Details</h1>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3">




                  </div>
            </div>
       
<div class="col-md-12 text-center middle">





    <div  class="content container">
        <div  class="row"><div  class="col-xs-12">
            <!-- <h4  class="page-title">Job Details</h4> -->
        </div></div>
        <div  class="row">

            <div *ngFor="let x of datas">
            <div  class="col-md-8">
                <div  class="job-info job-widget">
                    <h3  class="job-title" >{{x.Job_Title}} </h3>
                    
                    <span  class="job-dept"> {{x.Department}}</span>
                    <ul  class="job-post-det"><li ><i  class="fa fa-calendar"></i> Post Date: <span  class="text-blue" >{{x.Start_Date}}</span></li>
                        <li ><i  class="fa fa-calendar"></i> Last Date: <span  class="text-blue">{{x.Expired_Date}}</span></li>
                        <li ><i  class="fa fa-user-o"></i> Applications: <span  class="text-blue">4</span></li>
                        <li ><i  class="fa fa-eye"></i> Views: <span  class="text-blue">3806</span></li>
                        <li > Job_Id: <span  class="text-blue">{{x.Job_Id}}</span></li>
                    
                    </ul></div>
                        <div  class="job-content job-widget">
<div  class="job-desc-title"><h4 >Job Description</h4></div>
                        <div  class="job-description">
                            
                            
                            
                            
                            <p >{{x.Description}} </p>
                            </div>
                             
                             
                             
                             <!-- <div  class="job-desc-title"><h4 >Job Description</h4></div>
                             <div  class="job-description"><p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                  incididunt ut labore et dolore
                                   ore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mol
                                   lit anim id est laborum</p>
                                   <ul  class="square-list"><li >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                    <li >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li><li >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
             <li >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li><li >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li></ul>
            </div>
         -->
        </div></div>

             <div  class="col-md-4"><div  class="job-det-info job-widget">

                 <a  class="btn job-btn" routerlink="../job-application" (click)="applyjobs(x.Job_Id)">Apply For This Job</a>
                 <div  class="info-list"><span ><i  class="fa fa-bar-chart"></i></span><h5 >Job Type</h5><p > {{x.Job_Type}}</p></div>
                 <div  class="info-list"><span ><i  class="fa fa-money"></i></span><h5 >Salary</h5><p >${{x.Salary_From}}k - ${{x.Salary_To}}k</p></div>
                 <div  class="info-list"><span ><i  class="fa fa-suitcase"></i></span><h5 >Experience</h5><p >{{x.Experience}}</p></div>
                 <div  class="info-list"><span ><i  class="fa fa-ticket"></i></span><h5 >Vacancy</h5><p >{{x.No_of_Vacancies}}</p></div>
                 <div  class="info-list"><span ><i  class="fa fa-map-signs"></i></span><h5 >Location</h5>

                    <p > {{x.Job_Location}} <br > 3864 Quiet Valley Lane, <br > Sherman Oaks, <br > California, 91403</p>
                </div>
                    <div  class="info-list"><p > 818-978-7102 <br > danieler@exae.com <br > https://www.example.com </p></div>
    <div  class="info-list text-center"><a  class="app-ends" href="#">Application ends in {{x.Expired_Date}}</a></div></div></div>

</div>
</div>


</div>
    
 
    <form  #empRegistrationForm="ngForm" (ngSubmit)="search.form.valid" >

  
</form>

</div>

              
     

            <div class="text-center" id="secondTable" *ngIf="secondTable">
                <div class="text-center">Hellow world !!</div>
            </div>
        
            
    </div>
     
</div>
  


      














