
<div class="card rows">
    <div class="card-body">
            <div class="clearfix">&nbsp;</div>




            <div class="row rows" *ngIf="tmp!=false; else abc ;">
                <div class="col-md-4" >
                    <!-- <button class="btn btn-rounded btn-md text-white" style="background-color: #5c1ac7;"
                        (click)="openMediumModalPopup(addUniversity)" title="click here for Registration">University
                        Register</button> -->
                        <h1>Employee</h1>
                </div>
                <div class="col-md-5"></div>
                <div class="col-md-3">
                    <!-- <span class="nav-tabs tabs" role="tablist">
                    <a (click)="FirstLogo()" data-toggle="tab" role="tab"><i style="font-size: 16px;cursor: pointer;" class="icon icon-apps mr-4" ></i></a>

                    <a (click)="SecondLogo()"  class="active"   data-toggle="tab" role="tab"><i style="font-size: 20px;cursor: pointer;" class="icon icon-list mr-4" ></i></a>
                    </span> -->
                     <button class="btn  btn-primary btn-sm " style="padding: 6px;"  (click)="tmpe()">+ Add All Employee Details</button>
                </div>

<div>
  <div>
    <button class="btn  btn-primary btn-sm " style="padding: 6px;"  (click)="empregs()">Personal Details View</button>

    <button class="btn  btn-primary btn-sm " style="padding: 6px;"  (click)="empsals()">Salary Details View</button>
    <button class="btn  btn-primary btn-sm " style="padding: 6px;"  (click)="empbanks()">Bank Details View</button>

  </div>
<br><br>

    <!-- <app-generate-cmm></app-generate-cmm> -->
<div *ngIf="empreg">
    <app-transaction-list></app-transaction-list>
    <!-- <app-empregform></app-empregform> -->
    
</div>
<div *ngIf="empsal" style="width: 100%;">
    <app-employee-salary></app-employee-salary>

</div>
<div *ngIf="empbank" style="width: 100%;">

<app-emp-bank-ac></app-emp-bank-ac>
</div>


</div>
</div>
 








</div></div>