.account-wrapper {
    width: 400px;
 margin-left: -50px;
     background-color: rgb(199, 196, 196);
    padding: 10px 20px;
 }
 
 *, :after, :before {
     box-sizing: border-box;
 }
 
 .logs{
     border: none;
     background-color: transparent;
 }
 a{
     cursor: pointer;
 }
 label{
     float: left;
 }